@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,700;1,400&family=Raleway:ital,wght@0,400;0,700;1,100&display=swap");
* {
  font-family: "Bitter", serif;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: rgb(67, 65, 79);
  background: linear-gradient(
    90deg,
    rgba(67, 65, 79, 1) 4%,
    rgba(255, 255, 255, 1) 64%,
    rgba(179, 204, 209, 1) 100%,
    rgba(94, 37, 212, 1) 100%
  );
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  border-bottom: 1px solid;
}
.header-img {
  width: 50px;
  height: 50px;
}
.nav-menu {
  display: flex;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}
.container {
  margin-top: 1px;
  border-top: 0.8px dotted black;
  margin-bottom: 50px;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 50px;
}
.man-img {
  width: 20vw;
  height: 30vh;
  border-radius: 720px;
  border: 1px solid floralwhite;
}

.man2-img {
  width: 28vw;
  height: 30vh;
  border-radius: 720px;
  border: 1px solid floralwhite;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content p {
  margin-left: 30px;
  margin-right: 50px;
}
.man-button {
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  width: 400px;
  border-radius: 20px;
  background-color: rgb(180, 140, 218);
  -webkit-box-shadow: -1px 4px 0px 0px rgba(71, 11, 71, 1);
  -moz-box-shadow: -1px 4px 0px 0px rgba(71, 11, 71, 1);
  box-shadow: -1px 4px 0px 0px rgba(71, 11, 71, 1);
}
.man-button:hover {
  background-color: aquamarine;
}
.secondary-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.sec-title {
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  border-top: 1px solid;
  justify-content: center;
  padding-top: 10px;
  gap: 40px;
}
.list {
  list-style: none;
  border: 1px solid;
  border-radius: 20px;
  padding: 30px;
}
